<div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-center">Bienvenido al modulo de ingresos</h4>
          </div>
        </div>
      </div>
</div>
<br>
         
<div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-center">Agregar contacto</h4>
            <div class="d-flex justify-content-center">
              <app-contact-form [maxCaracters]="50"></app-contact-form>
            </div>
          </div>
        </div>
      </div>
</div>
          